@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap");
@import "tailwindcss";

body {
  background-color: #0a0a0b;
  color: #d4d4d8;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0b;
}

::-webkit-scrollbar-thumb {
  background: #151619;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}